body {
	font-family: Tahoma;
	font-size: 13px;
	width: 1000px;
	margin: 0px auto;
}
#menu_top{
	background: #141414;
	height: 40px;
	
}
#banner{
	height:auto;
	width: 1000px;
	margin-top:4px;
}
#main #left{
	width: 750px;
	min-height:400px;
	float: left;
}
#main #right{
	width: 250px;
	float: left;
	min-height:400px;
}
	
#footer{
	background: #EEEEEE;
	width: 1000px;
	text-align: center;
	height: 60px;
	clear: left;
	line-height: 60px;
}
#menu_top ul{
	margin: 0px;
	padding: 0px;
	
}
#menu_top ul li{
	list-style: none;
	float: left;
}
#menu_top ul li a{
	text-decoration: none;
	display: block;
	height: 40px;
	line-height: 40px;
	color: #FFF;
	padding: 0px 36.5px 0px 36.5px;
	border-right: 1px solid #ccc;
		
}
#menu_top ul li a.active{
	background: #1949b5;
}
#banner img{
	width:1000px;
}
#main #left ul{
	margin: 0px;
	padding: 0px;
}	
#main #left ul li{
	list-style: none;
	clear: left;
	border-bottom: 2px solid #ccc;
	float : left;
	margin-bottom: 20px;
}
#main #left ul li img{
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
}
#main #left ul li h2{
	font-size: 15px;
	margin-top: 0px;
}
#main{
	margin-top: 10px;
}
#menu_top ul li a:hover{
	background: orange;
	color: red;
	transition : ease-in 0.35s;
	-moz-transition: ease-in 0.35s;
	-webkit-transition: ease-in 0.35s;
}
#main #right .menu_right ul {
	margin: -10px 0px 0px 0px;
	padding: 0px;
	border: 1px solid #ccc;
}
#main #right .menu_right ul li{
	list-style: none;
}

#main #right .menu_right ul li a{
	display: block;
	text-decoration: none;
	line-height: 45px;
	height: 45px;
	border-bottom: 1px solid #ccc;
	background: url(../images/check2.png) no-repeat 2px;
	text-indent: 35px;
	color: #878787;
	font-size: 14px;
}
#main #right .menu_right ul li a:hover {
	color: orange;
}

#main #right .menu_right h3{
	background: #194d58 url(../images/iconmenu2.png)no-repeat 3px;
	height: 40px;
	margin-top: 0px;
	font-size: 14px;
	line-height: 40px;
	color : #FFF;
	text-indent: 40px;
}
#main #right .menu_right h3:hover {
	color: red;
}
#main #right .menu_right  a {
	text-decoration: none;
}

#main #left ul li:hover {
	color: orange;
}

#main #left ul li a{
	text-decoration: none;
	color: black;
}
#main #left ul li a:hover{
	color : orange;
	transition : ease-in 0.20s;
	-moz-transition: ease-in 0.20s;
	-webkit-transition: ease-in 0.20s;
}
#right .photo{
	margin-top: 5px;	
}
#footer a {
	text-decoration: none;
	color:black;
}

	

